<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LearnServlet</display-name>
  <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>AddNums</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>post</servlet-name>
  	<servlet-class>PostMethod</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>post</servlet-name>
  	<url-pattern>/post</url-pattern>
  </servlet-mapping>
  
</web-app>